# Open WebUI
open-webui/*
open-webui/config.json

!open-webui/configs/
!open-webui/start_webui.sh

# Ollama
/ollama/ollama/

# Openedai Speech
tts/voices/

# General
node_modules/

# langfuse
langfuse/db/

# LibreChat
librechat/data/
librechat/meili_data_v1.7/
librechat/logs/
librechat/vectordb/
librechat/images/

# Local scripts
scripts/